*
!*/
!*.*
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
hsc2hs/CTypes.hs
gallery/
ztemp.hs
src/MarchingCubes2.hs
src/MarchingCubes/MarchingCubes2.hs
src/Orthocircle2.hs
src/Goursat2.hs
src/MarchingCubes3.hs
src/MarchingCubes/MarchingCubes3.hs
src/Goursat3.hs
